html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
/* font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Open Sans', sans-serif; */

body {
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.header {
    border-top: 1px solid #3883e5;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
    color: #000
}
.header__inner {
    display: flex;
    justify-content: space-between;
    min-height: 88px;
    align-items: center;
}
.menu__list {
    display: flex;
}
.menu__list li {
    margin-left: 38px;
}

.menu__list a {
    color: #2f3f54;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.top {
    padding-top: 165px;
    padding-bottom: 184px;
    background-color: #267ae9;
}
.top__inner {
    display: flex;

}
.top-info {
    min-width: 555px;
    margin-right: 35px;
    color: #ffffff;
}

.top-info__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 52px;
}
.top-info__descr {
    font-size: 19px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 40px;
}
.top-info__descr span{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.top-info__list {
    list-style: none;
    margin-bottom: 50px;
}
.top-info__list li {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
    position: relative;
    padding-left: 24px;
}
.top-info__list li::before {
    content: "";
    background-image: url(../img/list-icon.png);
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.top-info__btn {
    border-radius: 30px;
    border: 3px solid #ffffff;
    background-color: #267ae9;
    padding: 18px 46px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 15px;
    display: inline-block;
}
.top-info__btn-descr {
}
.top-images {
    color: #212121;

}
.top-images__box {
    position: relative;
}
.top-images__circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    right: -102px;
}
.top-images__title {
    margin-bottom: 15px;
    font-size: 14px;
    width: 135px;
    text-align-last: left;
    
}
.top-images__price {
    margin-bottom: 7px;
    font-size: 54px;
    font-weight: 700;
}
.top-images__date {
    width: 135px;
    text-align: right;
    font-size: 14px;
}