/* 1. header */
/* 2. секция top */
/* 3. секция price  */
/* 4.секция rewiews */
/* 5.секция footer */

html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* 1. header  =================================
=====================================================*/

.header {
    border-top: 1px solid #3883e5;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
    color: #000
}
.header__inner {
    display: flex;
    justify-content: space-between;
    min-height: 88px;
    align-items: center;
}
.btn__menu {
    width: 40px;
    display: none;
}
.btn__menu div{
    height: 5px;
    margin-bottom: 5px;
    background-color: #000000;
}
.menu__list {
    display: flex;
}
.menu__list li {
    margin-left: 38px;
}

.menu__list a {
    color: #2f3f54;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/* 2. секция top  =================================
=====================================================*/

.top {
    padding-top: 165px;
    padding-bottom: 184px;
    background-color: #267ae9;
}
.top__inner {
    display: flex;

}
.top-info {
    max-width: 555px;
    margin-right: 35px;
    color: #ffffff;
}

.top-info__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 52px;
}
.top-info__descr {
    font-size: 19px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 40px;
}
.top-info__descr span{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.top-info__list {
    list-style: none;
    margin-bottom: 50px;
}
.top-info__list li {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
    position: relative;
    padding-left: 24px;
}
.top-info__list li::before {
    content: "";
    background-image: url(../img/list-icon.png);
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.top-info__btn {
    border-radius: 30px;
    border: 3px solid #ffffff;
    background-color: #267ae9;
    padding: 18px 46px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 15px;
    display: inline-block;
}
.top-info__btn-descr {
}
.top-images {
    color: #212121;

}
.top-images__box {
    position: relative;
}
.top-images__circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    right: -102px;
}
.top-images__title {
    margin-bottom: 15px;
    font-size: 14px;
    width: 135px;
    text-align-last: left;
    
}
.top-images__price {
    margin-bottom: 7px;
    font-size: 54px;
    font-weight: 700;
}
.top-images__date {
    width: 135px;
    text-align: right;
    font-size: 14px;
}

/* 3. секция price  =================================
=====================================================*/

.price {
    padding-top: 150px;
    padding-bottom: 180px;
}

.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #2f3f54;
}
.title span {
    color: #2575e7;
}

.price__descr {
    margin: 40px auto 125px;
    text-align: center;
    max-width: 588px;
    color: #4a6385;
}
.price__descr a {
    color: #e74c3c;
}
.price__descr span {
    color: #42d6c1;
}

.price__items {
    display: flex;
    justify-content: space-between;
    
}

.price-item {
    max-width: 360px;
    box-shadow: 0 21px 49px 1px rgba(41, 44, 61, 0.15); 
    padding: 0 50px; 
    position: relative; 
    overflow: hidden;
    color: #4a6385;
}

.price-item__number {
    background-color: #267ae9;
    width: 260px;
    height: 465px;
    border-radius: 136px;
    color: #ffffff;
    position: absolute;
    top: -370px;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
    letter-spacing: 1.68px;
    line-height: 29px
    
}
.price-item__number span:first-child {
    font-size: 23px;
    line-height: 21px;
    letter-spacing: 1.16px;
}
.price-item__number span {
    font-size: 16px;
    letter-spacing: 0.82px;
    line-height: 18px;
}

.price-item__images {
    margin-top: 144px;
    text-align: center;
    margin-bottom: 50px;
    height: 123px;
}

.price-item__title {
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 50.81px;
    color: #267ae9;
    margin-bottom: 20px;
}

.price-item__text {
    margin-bottom: 50px;
}

.price-item__list {
     margin-bottom: 75px;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 16px;
     list-style: none;
}
.price-item__list li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 30px;
}
.price-item__list li::before {
    content: "";
    position: absolute;
    background-image: url(../img/icon-li.png);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 11px;

}

.price-item__btn {
    border-radius: 0 0 2px 2px;
    background-color: #267ae9;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    display: block;
    padding: 20px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    
}

/* 4.секция rewiews =================================
=====================================================*/
.rewiews {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fafafa;
}

.rewiews-slider {
    margin-top: 160px;
}
.rewiews-slider__item {
    box-shadow: 0 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.rewiews-box {
    display: flex;
}
.rewiews-box__images {
    display: flex;
    background-color: #267ae9;
    width: 190px;
    min-height: 350px;
    align-items: center;
    justify-content: center;
}

.rewiews-box__images img {
    border-radius: 50%;
}

.rewiews-box__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 26px;
    background-color: #fff;
    width: 330px;
    padding: 0 40px;
}

.rewiews-box__text {
    padding-bottom: 35px;
    color: #4a6385;

}

.rewiews-box__author span {
    color: #267ae9;
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* слайдер slick =================================
=====================================================*/
.rewiews-slider .slick-list {
    margin: 0 -50px;
}
.rewiews-slider .slick-slide {
    margin: 0 50px;
    margin-bottom: 70px;
}
.rewiews-slider .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}
.rewiews-slider .slick-dots button {
    font-size: 0;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: none;
    background-color: #267ae9;
    margin-left: 10px;
    padding: 0;
    outline: none;


}
.rewiews-slider .slick-dots li.slick-active button {
    background-color: #ffffff;
    border: 3px solid #267ae9;
    border-radius: 50%;
    height: 15px;
    width: 15px;

}




/* 5.секция footer =================================
=====================================================*/

.footer {
    background-color: #344358;
    padding-top: 85px;
    padding-bottom: 135px;
    color: #718db2;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 263px;
}
.footer-menu {
    width: 165px;
}
.footer-form {
    width: 263px;
}
.footer__logo {
    display: inline-block;
    margin-bottom: 30px;
}
.footer__text {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05)
}
.footer__title {
    color: #d0e4ff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer__list li{
    font-size: 13px;
    list-style: none;
    margin-bottom: 8px;
    
}
.footer__list a {
    line-height: 22px;
    color: #718db2;
    margin-bottom: 18px;
}
.footer-form input,
.footer-form textarea  {
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: transparent;
    height: 38px;
    display: block;
    width: 100%;
    padding: 0 12px;
}
.footer-form textarea {
    padding: 12px;
    height: 84px;
    resize: none;
    margin-bottom: 10px;
}
.footer-form input::placeholder,
.footer-form textarea::placeholder  {
    color: #718db2;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 400;
   
    
}
.footer-form button {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: #2575e7;
    padding: 12px;
    border: none;
    cursor: pointer;
}

